body{
    background: linear-gradient(to bottom right, #0FFF00, #00FFF0);
    background-
    
}
.desc {
    font-family:  cursive;
    text-align: center

}

.title {
    font-family: cursive;
    text-decoration: none;
    text-align: center}
.
project{
    margin: auto;
    border: 1px solid #0F000F
    margin: 100px;

}

#pianoTeacher{
    border:1px solid #000000;
}

