body{
  font-family:"Lucida Sans Unicode", "Lucida Grande", serif;
}
.home{
  background: linear-gradient(to bottom right, #0FFF00, #00FFF0);


}
.about{
  background: linear-gradient(to bottom right, #00F0F0, #FFFFFF);

}
.projects{
  background: linear-gradient(to bottom right,#0FFF00, #00FFF0);

}
h1{
  margin-left:50px;

}
h2{
  font-style: italic;
  margin-left:50px;

}
.logo{
  float: right;

}
.title {
    text-decoration: none;
    text-align: center}
.project{
    margin: auto;
    border: 1px solid #0F000F
    margin: 100px;

}
p{
  margin-left: 50px;
}

ul{
  margin: 50px;
  padding:0px;
  list-style: none;
  width: 1200;

}

ul li{
  display:inline;
  text-decoration: none;
  padding 5px 0;
  width: 200px;
  background: #0AA0FF;
  float:left;
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration:none;

}
.nav a:hover{
  color:#0f0f0F;
}
